{% load wagtailcore_tags %}
{% load static %}


<!-- <div class="mycontainer">
    <h5 class="mb-20">Related Government Resolutions</h5>
   <div class="mydiv">
     {% for a in self.points_r %}
     <ul class="unordered-list">
       <li>
         {{ a.point_r }}
           {% for b in a.pdfs_r %}
               <div class="button" id="button-2">
                   <div id="slide"></div>
                   <a href="{{ b.url }}">{{ b.title }}</a>
               </div>

       {% endfor %}
       </li>
       </ul>
       {% endfor %}
   </div>
 </div> -->

 <div class="table-responsive">
    <h5 class="mb-20" style="background-color:#2D3142; padding-left: 10px; padding-top: 10px; padding-bottom: 10px; color:yellow">Related</h5>
    <table class="table table-bordered">
      <tbody>
        {% for a in self.points_r %}
        <tr>
        <td style="font-size: 15px;">{{ a.point_r }}</td>
          <td>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="background-color: rgba(31, 84, 159, 0.5); border-color: rgba(31, 84, 159, 0.5);">Download
                <!-- <span class="caret"></span> -->
                </button>
                <ul class="dropdown-menu">
                    {% for b in a.pdfs_r %}
                        <li><a href="{{ b.url }}">{{ b.title }}</a>
                    {% endfor %}
                </li>
                </ul>
              </div>

            </td>
        </tr>
        {% endfor %}
      </tbody>
</table>
</div>