{% load wagtailcore_tags %}
{% load static %}



                            <div class="card">
                                <div class="card-heading active" style="font-size: large;">
                                    <a class="active" data-toggle="collapse" data-target="#collapseOne">
                                        {{ self.title }}
                                    </a>
                                </div>
                                {% for i in self.points %}
                                <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                    <div style="margin-left:40px">                            
                                        <ul>
                                        <li style="font-size:medium"> {{ i.point }} <a href="{{ i.url }}"><i class="fa fa-download" aria-hidden="true"></i></a></li>
                                        
                                        </ul></div>
                                </div>
                                {% endfor %}
                            </div>
 